html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a; /* Темний фон навколо телефону */
}



  .phoneContainer {
    width: 358px;
    height: 575px;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #000;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  }
  
  /* Для реальних мобільних пристроїв */
  @media (max-width: 500px) {
    html, body {
      position: fixed;
      background-color: #000;
    }
    
    .phoneContainer {
      width: 100vw;
      height: 100vh;
      height: 100dvh;
      box-shadow: none;
    }
  }




  .container {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
  }

.containerTop {
 width: 100%;
 height: 45%;
 background-color: green;
}

.topContentTop {
 width: 100%;
 height: 65%;
 background-color: blue;
 display: flex;
 
}
/*для фото і характеристик*/

.imgHeroes {
 width: 40%;
 height: 100%;
 background: linear-gradient(to right, #00ccff,#0099ff, #ff99ff);
 display: flex;
 justify-content: center;
 align-items: center;
}
.imgHeroes img {
 height: 85%;
 width: 100%;
}

.TopBoxDescription {
 width: 60%;
 height: 100%;
 background-color: green;
 border-left: 1px solid black;
}


.topContentBotom {
 width: 100%;
 height: 35%;
 background: linear-gradient(to right, #0066cc,#0099ff, #9999ff);
 position: relative;
 border-bottom: 1px solid #999;
 text-align: center;
}
/*для опису героя*/


.descriptHeroes {
 color: white;
 
}

.ChoiceHeroesBtnYes {
  position: absolute;
  width: 24%;
  height: 22%;
  bottom: 30%;
  right: 3px;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
 border: 2px solid #004d00;
 text-align: center;
 font-size: 20px;
 cursor: pointer;
 transition: all 0.3s;
 display: none;
}
.ChoiceHeroesBtnYes:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.ChoiceHeroesBtnYes:active {
  transform: scale(0.95);
}

.choiceHeroesBtn {
 width: 24%;
 height: 22%;
 background-color: #00ff00;
 border: 2px solid #004d00;
 position: absolute;
 bottom: 3%;
 right: 3px;
 text-align: center;
 font-size: 20px;
 color: #663300;
 box-shadow: 0px 3px 5px #333;
}

.boxName_btnClose {
 width: 100%;
 height: 20%;
 background-color: blue;
 display: flex;
}


.boxNamePlayerTitle {
  width: 80%;
  height: 100%;
}

.boxNamePlayer {
  width: 100%;
  height: 40%;
  background-color: #037070;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}



.topNameHeroes {
 width: 100%;
 height: 60%;
 background-color: #009999;
 display: flex;
  justify-content: center;
  align-items: center;
 color: white;
 font-size: 23px;
}

.topBtnClose {
 width: 20%;
 height: 100%;
 background-color: #ff0066;
 display: flex;
  justify-content: center;
  align-items: center;
 color: white;
 font-size: 30px;
}

.BoxBazaDani {
 width: 100%;
 height: 80%;
 box-sizing: border-box;
 display: flex;
 
}

.leftBoxBaza {
 width: 45%;
 height: 100%;
 border-right: 1px solid black;
 
}

.rightBoxBaza {
 width: 55%;
 height: 100%;
}
.bazaDani {
 font-size: 30px;
}

.bazaDani {
 width: 100%;
 height: 33%;
 /* font-size: 30px; */
 background-color: #6699ff;
 border-top: 1px solid black;
 box-sizing: border-box;
 display: flex;
justify-content: space-evenly;
align-items: center;
}
.bazaDani img {
 height: 70%;
}
.bazaDani span {
  color: white;
 font-size: 40px;
}
.lastBazaDani {
    flex-direction: column; /* Замість column */
    justify-content: center;
  }
  
  .critItem {
    display: flex;
    align-items: center;
    font-size: 27px;
    height: 50%;
  }

  .lastBazaDani span {
    font-size: 25px;
  }
/*закінчення контейнерТоп*/

.containerCenter {
 width: 100%;
 height: 25%;
 background: linear-gradient(to right, #0066cc,#0099ff, #9999ff);
 display: flex;
}

.leftContCentr {
 width: 35%;
 height: 100%;
 flex-wrap: wrap;
 display: flex;
justify-content: center;
align-items: center;
 gap: 10px;
 
}

.boxImgEfectBtn {
 width: 42%;
 aspect-ratio: 1 / 1; /* робить квадрат*/
 background-color: red;
 border: 1px solid #999;
 box-shadow: 3px 5px 5px #333;
 cursor: pointer;
}
.boxImgEfectBtn img {
 width: 100%;
  height: 100%;
  display: block; /* ← це прибирає зайвий відступ унизу */
  object-fit: cover;
}

.rightContCentr {
 width: 65%;
 height: 100%;
 
}

.nameEfectBaza {
 width: 100%;
 height: 15%;
 text-align: center;
 font-size: 22px;
 font-weight: bold;
 color: white;
}

.discriptionEfect {
 width: 100%;
 height: 60%;
 color: white;
}

.detalDiscripEfect {
 width: 100%;
 height: 25%;
 display: flex;
  justify-content: center;
  align-items: center;
}

.detalEfectBtn {
 width: 80%;
 height: 80%;
 background-color: #33ccff;
 font-size: 25px;
 text-align: center;
 font-weight: bold;
 border: 1px solid #004d66;
 color: white;
 box-shadow: 0px 0px 5px #333;
}

/*закінчення контейнерЦентр*/


.containerBottom {
 width: 100%;
 height: 30%;
 background: linear-gradient(to right, #0066cc,#0099ff, #9999ff);
 display: flex;
 justify-content: space-between;
}

.leftSideHeroes {
 width: 17%;
 height: 100%;
 display: flex;
 
 align-items: center;
 flex-direction: column;
}

.boxHeroesOld {
 width: 90%;
 height: 32%;
 background: linear-gradient(to right, #ff99ff,#0099ff, #ff99ff);
 border: 1px solid #999;
}
.boxHeroesOld img {
 width: 100%;
 height: 100%;
 cursor: pointer;
}

.rightSideHeroesBtn {
 width: 83%;
 height: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
  align-items: center;
}

.boxHeroes {
 width: 19%;
 height: 33%;
 background: linear-gradient(to right, #00ccff,#0099ff, #ff99ff);
 border: 1px solid black;
}
.boxHeroes img {
 width: 100%;
 height: 100%;
 cursor: pointer;
}
/*закінчення контейнерНиз*/


/* модульне вікно */

.modalWindowHeroes {
  width: 80%;
  max-height: 90vh; /* максимальна висота 90% від екрану */
  background: linear-gradient(to right, #79abdd,#377caa, #202052);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: 3px solid black;
  display: none;
  overflow-y: auto; /* вертикальний скрол */
  overflow-x: hidden; /* приховати горизонтальний скрол */
}

.modalBoxNameEfect {
    width: 100%;
    height: 10%;
    background-color: #0066cc;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    display: flex;
    border-bottom: 1px solid black;
}
.modalBoxImgEfect {
    width: 20%;
    height: 100%;
}
.modalBoxImgEfect img {
    width: 100%;
    height: 100%;
}

.modalNameEfect {
    width: 60%;
    height: 100%;
    background-color: #05c715;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.BtnModalCloseWindow {
    width: 20%;
    height: 100%;
    background-color: red;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.modalContentEfectOne {
  width: 100%;
  min-height: 22.5%; /* замість height */
  background-color: rgb(159, 159, 249);
  color: white;
  padding: 10px; /* додайте відступи */
  box-sizing: border-box;
}

.modalContentEfectTwo {
  width: 100%;
  min-height: 22.5%; /* замість height */
  background-color: rgb(85, 103, 243);
  color: white;
  padding: 10px; /* додайте відступи */
  box-sizing: border-box;
}

.modalContentEfectThree {
  width: 100%;
  min-height: 22.5%; /* замість height */
  background-color: rgb(44, 47, 247);
  color: white;
  padding: 10px; /* додайте відступи */
  box-sizing: border-box;
}

.modalContentEfectFour {
  width: 100%;
  min-height: 22.5%; /* замість height */
  background-color: rgb(23, 7, 254);
  color: white;
  padding: 10px; /* додайте відступи */
  box-sizing: border-box;
}

.modalLevelEfect {
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 22px;
    color: white;
}


/* Красивий скролбар для модального вікна */
.modalWindowHeroes::-webkit-scrollbar {
  width: 10px;
}

.modalWindowHeroes::-webkit-scrollbar-track {
  background: #1a1a52;
}

.modalWindowHeroes::-webkit-scrollbar-thumb {
  background: #377caa;
  border-radius: 5px;
}

.modalWindowHeroes::-webkit-scrollbar-thumb:hover {
  background: #5599cc;
}



