html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a; /* Темний фон навколо "телефону" */
  }


  .phoneContainer {
    width: 358px;
    height: 575px;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    background-image: url("../../img/fon/window1/window1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  }
  
  /* Для реальних мобільних пристроїв */
  @media (max-width: 500px) {
    html, body {
      position: fixed;
      background-color: #000;
    }
    
    .phoneContainer {
      width: 100vw;
      height: 100vh;
      height: 100dvh;
      border-radius: 0;
      box-shadow: none;
    }
  }
  
  .nameGame {
    width: 200px;
    height: 100px;
    color: white;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .container {
    width: 200px;
    height: 400px;
    background-color: rgb(121, 68, 59);
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: inset 0px 0px 10px #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .btNcontent {
    width: 80%;
    height: 13%;
    border: 1px solid black;
    display: grid;
    place-items: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    box-shadow: inset 0px 0px 10px #333;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .btNcontent:hover {
    transform: scale(1.05);
  }
  
  .btNcontent:active {
    transform: scale(0.95);
  }
  
  .text {
    color: white;
    display: none;
  }